<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.ceezak.raksha"
    versionCode = "11"
    version     = "1.1.0" >

<!-- versionCode is optional and Android only -->

  <name>happy raksha bandhan</name>

  <description>
      Rakhi is a sacred thread embellished with sister's love and affection for her brother. On the day of Raksha Bandhan, sisters tie rakhi on the wrists of their brothers and express their love to them. After receiving the rakhi from a sister, a brother sincerely takes the responsibility of protecting her sister. In Indian tradition, the frangible thread of rakhi is considered even stronger than an iron chain as it strongly binds a brothers and a sisters in the circumference of mutual love and trust.
  </description>

  <author href="https://www.ceezak.com" email="mrangad007@gmail.com">
      Angad Singh
  </author>
  <platform name="android">
    <icon src="icon.png" />
  </platform>
</widget>